################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DataTable_AspNetCore
/DataTable_AspNetCore/obj/Debug/net7.0/DataTable_AspNetCore.UI.csproj.BuildWithSkipAnalyzers
